<h1>Editar Sucursal</h1>
<form>
Nombre: <input type="text" name="nombre"><br>
Calle: <input type="text" name="calle">
Colonia: <input type="text" name="colonia">
Numero Exterior: <input type="text" name="numero_ext">
Numero Interior: <input type="text" name="numero_int">
Codigo Postal: <input type="text" name="codigo_postal">
Ciudad: <input type="text" name="ciudad">
Pais: <input type="text" name="pais">
</form>