<h1>Nueva Sucursal</h1>
<form name="input" action="" method="get">
Nombre: <input type="text" name="nombre"><br>
Calle: <input type="text" name="calle"><br>
Colonia: <input type="text" name="colonia"><br>
Numero Exterior: <input type="text" name="numero_ext"><br>
Numero Interior: <input type="text" name="numero_int"><br>
Codigo Postal: <input type="text" name="codigo_postal"><br>
Ciudad: <input type="text" name="ciudad"><br>
Pais: <input type="text" name="pais"><br>

<input type="submit" value="Submit">
</form>